:host {
    text-align: center;
    white-space: nowrap;
}

.interval-label {
    margin-top: 0.1em;
    width: 100%;
}

.interval-label .interval-input {
    text-align: left;
    width: 6em;
    display: inline-block;
}

.interval-slider {
    margin-top: 0.4em;
    width: 100%;
    display: inline-block;
}
