:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tb-toolbar {
    padding-top: 0.5em;
    padding-left: 0.5em;
    background-color: #f5f3e5;
}

.tb-toolbar .interval-selector {
    text-align: center;
    white-space: nowrap;
}

.tb-toolbar .binsize-selector {
    text-align: center;
    white-space: nowrap;
}

.tb-toolbar .binsize-selector .slider-label {
    margin-top: 0.2em;
}

.tb-toolbar .binsize-selector .binsize-slider {
    margin-top: 0.4em;
}

.tb-toolbar .interval-selector .interval-label {
    margin-top: 0.1em;
    width: 100%;
}

.tb-toolbar .interval-selector .interval-label .interval-input {
    text-align: left;
    width: 6em;
    display: inline-block;
}

.tb-toolbar .interval-selector .interval-slider {
    margin-top: 0.4em;
    width: 100%;
    display: inline-block;
}

.tb-toolbar .zoom-selector button {
    margin-top: 0.2em;
    width: 2em;
}

.tb-toolbar-control {
    margin: 0.0em 0.5em 0.3em 0.5em;
}

.accession-selector {
    padding-bottom: 0.3em;
}

.tb-toolbar .toolbar-buttons button {
    margin: 0.1em;
    float: right;
}

.plot-container {
    overflow: hidden;
    position: relative;
    height: 100%;
    flex: 1;
}

.box > div {
    background-color: #cce4f7;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 4px;
}

.share-button {
    margin-top: 10px;
    font-size: 80%;
}
