<div class="p-grid p-justify-between tb-toolbar p-nogutter">
    <div>
        <div class="input-label-small">Genomes</div>
        <app-accession-style-selector
            [(accessionStyle)]="widget_accession_style">
        </app-accession-style-selector>
        <button pButton class="tb-square-button"
            icon="fa fa-database"
            (click)="display_sidebar = true" >
        </button>
    </div>

    <div class="p-col accession-selector tb-toolbar-control">
        <div class="input-label-small">Reference</div>
        <p-dropdown [options]="accessions"
            [filter]="true"
            [autoWidth]="false"
            [style]="{'width':'100%'}"
            [(ngModel)]="widget_reference">
        </p-dropdown>
    </div>
    <div class="p-col tb-toolbar-control">
        <div class="input-label-small">Chromosome</div>
        <p-dropdown [options]="chromosomes"
            [style]="{'width':'100%'}"
            [(ngModel)]="widget_chromosome">
        </p-dropdown>
    </div>
    <div class="p-col interval-selector tb-toolbar-control">
        <div class="interval-label">
            Interval:
            <input class="interval-input" type="text" pKeyFilter="pint"
                [(ngModel)]="widget_interval[0]"
                (input)="typeInterval($event)" pInputText>
            -
            <input class="interval-input" type="text" pKeyFilter="pint"
                [(ngModel)]="widget_interval[1]"
                (input)="typeInterval($event)" pInputText>
        </div>
        <div class="interval-slider">
            <p-slider [(ngModel)]="widget_interval"
                [range]="true"
                [animate]="true"
                [style]="{'width':'100%'}"
                (onChange)="intervalSliderChange($event)"
                (onSlideEnd)="updateInterval()"
                [min]="1" [max]="widget_chromosome?.size">
            </p-slider>
        </div>
    </div>
    <div class="p-col binsize-selector tb-toolbar-control">
        <div class="slider-label">Bin size: {{ widget_binsize }}</div>
        <div class="binsize-slider">
            <p-slider [(ngModel)]="widget_binsize"
                [animate]="true"
                [style]="{'width':'100%'}"
                [min]="binsize_min" [max]="binsize_max"
                [step]="binsize_step"
                (onChange)="binsizeSliderChange($event)"
                (onSlideEnd)="updateBinsize()">
            </p-slider>
        </div>
    </div>
    <div class="p-col zoom-selector tb-toolbar-control">
        <button pButton icon="fa fa-search-minus"
            [disabled]="isZoomMin()"
            (click)="zoomOut()">
        </button>
        <button pButton icon="fa fa-search-plus"
            [disabled]="isZoomMax()"
            (click)="zoomIn()">
        </button>
    </div>
    <div class="p-col toolbar-buttons tb-toolbar-control">
        <button pButton label="Download" icon="fa fa-download"
            disabled="true">
        </button>
        <button pButton label="Share" icon="fa fa-external-link"
            (click)="sharepanel.toggle($event)">
        </button>
    </div>
</div>

<p-overlayPanel #sharepanel (onShow)="exportView($event)"
                            (onHide)="share_link = ''">
    <b>Link to current view:</b>
    <div class="ui-inputgroup share-button">
        <input pInputText [value]="share_link"
            [size]="45" readonly="readonly">
        <button pButton label="Copy" icon="fa fa-clipboard"
            (click)="copyLink($event)">
        </button>
    </div>
</p-overlayPanel>

<div #plotContainer class="plot-container">
    <app-introgression-plot
        (plotMouseClick)="plotClick($event)"
        (plotMouseHover)="tooltip.show($event)"
        (plotMouseMove)="tooltip.hide()"
        (wheel)="scrollWheel($event)"
        (mouseleave)="tooltip.hide()">
    </app-introgression-plot>
</div>

<app-plot-click-menu appFitWindow
    (setReference)="setReference($event)"
    (removeAccession)="removeAccession($event)"
    (setInterval)="setInterval($event)"
    (setIntervalStart)="setIntervalStart($event)"
    (setIntervalEnd)="setIntervalEnd($event)">
</app-plot-click-menu>

<app-tooltip></app-tooltip>

<p-sidebar [(visible)]="display_sidebar" position="left"
           [style]="{width: '90vw', padding: 0, border: 0}"
           (onHide)="updateAccessions()">
    <app-accession-tab *ngIf="display_sidebar"
        [importPlugins]="plugins"
        [accessionOptions]="accession_infos"
        [(accessionGroups)]="widget_accession_groups"
        [(selectedAccessions)]="widget_accessions">
    </app-accession-tab>
</p-sidebar>
