<div class="p-grid p-justify-between tb-toolbar p-nogutter">
    <div>
        <div class="input-label-small">Genomes</div>
        <app-accession-style-selector
            [(accessionStyle)]="widget_accession_style">
        </app-accession-style-selector>
        <button pButton class="tb-square-button"
            icon="fa fa-database"
            (click)="display_sidebar = true" >
        </button>
    </div>

    <div class="p-col tb-toolbar-control">
        <app-reference-selector
            [accessionInfos]="accession_infos"
            [(referenceAccession)]="widget_reference">
        </app-reference-selector>
    </div>

    <div class="p-col tb-toolbar-control">
        <app-chromosome-selector
            [chromosomes]="chromosomes"
            [(selectedChromosome)]="widget_chromosome">
        </app-chromosome-selector>
    </div>

    <div class="p-col tb-toolbar-control">
        <app-interval-selector
            [chromosome]="widget_chromosome"
            [(interval)]="widget_interval">
        </app-interval-selector>
    </div>

    <div class="p-col tb-toolbar-control">
        <app-binsize-selector
            [(binsize)]="widget_binsize">
        </app-binsize-selector>
    </div>

    <div class="p-col zoom-selector tb-toolbar-control">
        <button pButton icon="fa fa-search-minus"
            [disabled]="isZoomMin()"
            (click)="zoomOut()">
        </button>
        <button pButton icon="fa fa-search-plus"
            [disabled]="isZoomMax()"
            (click)="zoomIn()">
        </button>
    </div>
    <div class="p-col toolbar-buttons tb-toolbar-control">
        <button pButton label="Download" icon="fa fa-download"
            disabled="true">
        </button>
        <app-share-button></app-share-button>
    </div>
</div>

<div #plotContainer class="plot-container">
    <app-introgression-plot
        (plotMouseClick)="plotClick($event)"
        (plotMouseHover)="tooltip.show($event)"
        (plotMouseMove)="tooltip.hide()"
        (wheel)="scrollWheel($event)"
        (mouseleave)="tooltip.hide()">
    </app-introgression-plot>
</div>

<app-plot-click-menu appFitWindow
    (setReference)="setReference($event)"
    (removeAccession)="removeAccession($event)"
    (setInterval)="setInterval($event)"
    (setIntervalStart)="setIntervalStart($event)"
    (setIntervalEnd)="setIntervalEnd($event)">
</app-plot-click-menu>

<app-tooltip></app-tooltip>

<p-sidebar [(visible)]="display_sidebar" position="left"
           [style]="{width: '90vw', padding: 0, border: 0}"
           (onHide)="updateAccessions()">
    <app-accession-tab *ngIf="display_sidebar"
        [importPlugins]="plugins"
        [accessionOptions]="accession_infos"
        [(accessionGroups)]="widget_accession_groups"
        [(selectedAccessions)]="widget_accessions">
    </app-accession-tab>
</p-sidebar>
