<p-dialog header="Confirm group deletion" [(visible)]="visible"
          [resizable]="false" modal="true" appendTo="body">
    <div class="dialog-small-margin">
        Are you sure you want to delete group
        '<b>{{ group !== undefined ? group.name : '' }}</b>'?
    </div>
    <div class="dialog-small-margin">
        This will not remove any accessions.
    </div>
    <div style="float: right;">
        <button pButton label="Cancel" class="dialog-small-margin"
                (click)="cancel()">
        </button>
        <button pButton  label="Delete" icon="fa fa-trash"
                (click)="delete()" class="dialog-small-margin">
        </button>
    </div>
</p-dialog>
