.tab-top-bar {
    font-size: 1em;
    padding: 0.5em;
    width: 100%;
    background-color: #1b4d32;
    color: #ffffff;
}

.tab-container {
    display: flex;
}

.accession-table {
    width: 75vw;
    font-size: 70%;
}

.checkbox-cell {
    width: 2.5em;
    text-align: center;
}

.accession-table-cell {
    white-space: nowrap;
    overflow: hidden;
}

.accession-table-row {
    height: 20px;
}

.loading-container {
    text-align: center;
    font-style: italic;
    padding: 0px;
    margin: 0px;
    -webkit-animation: pulse 0.8s infinite ease-in-out;
    animation: pulse 0.8s infinite ease-in-out;
}

.justified {
    display: flex;
    justify-content: space-between;
}

.dialog-small-margin {
    margin: 5px;
}

@keyframes pulse {
    0% {
        background-color: rgba(70, 160, 0, 0.1)
    }
    50% {
        background-color: rgba(70, 160, 0, 0.2)
    }
    100% {
        background-color: rgba(70, 160, 0, 0.1)
    }
}

.ui-autocomplete-items {
    font-size: 70%;
    white-space: nowrap;
    overflow-x: hidden;
}
