.accession-table {
    font-size: 70%;
}

.loading-text {
    display: block;
    background-color: rgba(70, 160, 0, 0.2);
    min-height: 19px;
    animation: pulse 1s infinite ease-in-out;
    text-indent: -99999px;
    overflow: hidden;
}
