<h3>Genome selection</h3>

<p-table styleClass="accession-table"
         [columns]="cols"
         [value]="virtual_accession_rows"
         [(selection)]="selectedAccessions"
         [scrollable]="true"
         [virtualScroll]="true"
         scrollHeight="80vh"
         [totalRecords]="accession_count"
         [virtualRowHeight]="20"
         [virtualScrollDelay]="20"
         [rows]="50"
         (onLazyLoad)="loadDataOnScroll($event)"
         [lazy]="true">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 3em">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr style="height:20px" [pSelectableRow]="rowData">
            <td>
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody" let-columns="columns">
        <tr style="height:20px">
            <td *ngFor="let col of columns">
                <div class="loading-text"></div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        Empty
    </ng-template>
</p-table>
