<h3>Genome selection</h3>

<!--

    <p-table [columns]="cols" [value]="virtualCars" [scrollable]="true"
    [rows]="20" scrollHeight="200px" [virtualScroll]="true"
    (onLazyLoad)="loadDataOnScroll($event)"
    [lazy]="true" [totalRecords]="totalRecords" [virtualRowHeight]="34">

-->

<p-table styleClass="accession-table"
         [columns]="cols"
         [value]="virtual_accession_rows"
         [(selection)]="selectedAccessions"
         [scrollable]="true"
         [virtualScroll]="true"
         scrollHeight="80vh"
         [totalRecords]="accession_count"
         [virtualRowHeight]="40"
         [rows]="20"
         (onLazyLoad)="loadDataOnScroll($event)"
         [lazy]="true">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 3em">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td>
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        Empty
    </ng-template>
</p-table>
