<div [ngStyle]="{'visibility': isLoading() && !hasErrors() ? 'visible'
                                                           : 'hidden'}">
    <div class="update-spinner">
        <p-progressSpinner></p-progressSpinner>
    </div>
    <div class="update-status">
        {{ plotLoadMessage }}
    </div>
    <div class="update-shadow"></div>
</div>

<div [ngStyle]="{'visibility': hasErrors() ? 'visible' : 'hidden'}">
    <div class="error-message">{{ getErrors() }}</div>
    <div class="update-shadow"></div>
</div>

<app-scale-bar
    (plotMouseClick)="onClick($event)"
    (plotMouseHover)="onHover($event)"
    (plotMouseMove)="onMove($event)">
</app-scale-bar>

<app-bin-plot
    (plotMouseClick)="onClick($event)"
    (plotMouseHover)="onHover($event)"
    (plotMouseMove)="onMove($event)">
</app-bin-plot>

<app-tree-plot
    (plotMouseClick)="onClick($event)"
    (plotMouseHover)="onHover($event)"
    (plotMouseMove)="onMove($event)">
</app-tree-plot>
