<div [ngStyle]="{'visibility': plotService.plot_loading
                               && plotService.error_message == '' ? 'visible'
                                                                  : 'hidden'}">
    <div class="update-spinner">
        <p-progressSpinner></p-progressSpinner>
    </div>
    <div class="update-shadow"></div>
</div>
<div [ngStyle]="{'visibility': plotService.error_message != '' ? 'visible'
                                                               : 'hidden'}">
    <div class="error-message">{{ plotService.error_message }}</div>
    <div class="update-shadow"></div>
</div>
<app-scale-bar></app-scale-bar>
<app-bin-plot></app-bin-plot>
<app-accession-bar></app-accession-bar>
