<div [ngStyle]="{'visibility': plot_loading && error_message == '' ? 'visible' : 'hidden'}">
    <div class="update-spinner">
        <p-progressSpinner></p-progressSpinner>
    </div>
    <div class="update-shadow"></div>
</div>
<div [ngStyle]="{'visibility': error_message != '' ? 'visible' : 'hidden'}">
    <div class="error-message">{{ error_message }}</div>
    <div class="update-shadow"></div>
</div>
<app-scale-bar></app-scale-bar>
<canvas #plotCanvas class="sharp-canvas"
    [style.top.px]="plotService.gui_margins.top">
</canvas>
<canvas #guiCanvas class="gui-canvas"
    [style.top.px]="plotService.gui_margins.top"
    (mousedown)="guiMouseDown($event)"
    (mouseup)="guiMouseUp($event)"
    (mousemove)="guiMouseMove($event)">
</canvas>

