<button pButton class="tb-square-button"
    icon="tb-icon tb-tree"
    (click)="treeOverlay.toggle($event)">
</button>

<p-overlayPanel #treeOverlay styleClass="accession-display-overlay">
    <div class="accession-display-overlay">
        <p-radioButton name="displayTypes"
            label="Accession labels" value="labels"
            [(ngModel)]="accessionStyle">
        </p-radioButton>
        <p-radioButton name="displayTypes"
            label="Phenetic tree" value="tree_linear"
            [(ngModel)]="accessionStyle">
        </p-radioButton>
        <p-radioButton name="displayTypes"
            label="Phenetic tree (simplified)" value="tree_simple"
            [(ngModel)]="accessionStyle">
        </p-radioButton>
    </div>
</p-overlayPanel>
