

<p-dialog
  *ngIf="isVisible"
  [(visible)]="isVisible"  dismissableMask="true"
  [resizable]="false" modal="true" appendTo="body"
  [style]="{ width: '80vw'}"
  [position]="center"
  [positionTop]="30"
  [header]="modalTitle">
  
  <div>Barcode Generator:</div>
  <div>Generate accession specific barcodes</div>
  <div></div>
  <div>
    <label>Enter barcode size (bp): </label>
    <input type="number" [(ngModel)]="barcodeSize" min="10" max="1000">
    <button (click)="generateBarcode()">Generate</button>
  </div>

  <a
  *ngIf="downloadUrl"
  [href]="downloadUrl"
  [target]="'_blank'"
  class="p-button p-component"
>
  View in new tab
</a>
</p-dialog>
