

<p-dialog
 
  [(visible)]="isVisible"  dismissableMask="true"
  (onHide)="resetModal()"
  [resizable]="false" modal="true" appendTo="body"
  [style]="{ width: '40vw'}"
  [position]="'center'"
  [positionTop]="30"
  [header]="modalTitle">
  
  <ng-container  *ngIf="isVisible">


  <div class="modal-title">Barcode Generator:</div>
  <div class="modal-subtitle">Generate accession-specific barcodes to identify specified accession from all other accessions within the bin interval.
    Customisable parameters include barcode length, and total number of accession-specific variants within the barcode (optional parameter).
  </div>
  <div class = "modal-subtitle-2">Statistical metrics calculated for each barcode include: number of variants, repeat content, GC content.</div>

  <div class="spacer"></div>

  <div class="input-container">
    <div class="input-row">
      <label for="barcodeSize">Enter barcode size (bp):</label>
      <input type="number" [(ngModel)]="barcodeSize" min="10" max="1000">
    </div>
    <div class="input-row compact-row">
      <label for="maxVariants">Maximum number of variants allowed per barcode (optional):</label>
      <input type="number" [(ngModel)]="maxVariants">
    </div>
    <button (click)="generateBarcode()" [disabled]="isLoading">
      <span class="button-text">
        Generate
      </span>
      <p-progressSpinner *ngIf="isLoading" styleClass="custom-spinner" [diameter]="10"></p-progressSpinner>
    </button>
  </div>

  <a
  *ngIf="downloadUrl"
  [href]="downloadUrl"
  [attr.download]="downloadFileName"
  class="p-button p-component"
  >
    Download
  </a>

</ng-container>
</p-dialog>
