<div class="v-stretch-box">
    <div class="tb-top-bar">
        <img class="tb-logo" src="assets/logo.png" />
        <div class="nav-menu">
            <a href="" class="nav-link">HOME</a>
            <a href="" class="nav-link">ABOUT</a>
            <a class="nav-link"
               href="https://www.cranfield.ac.uk/centres/soil-and-agrifood-institute/research-groups/bioinformatics-group"
               target="_blank">
                <img class="cranfield-logo" src="assets/cranfield_logo.png" />
            </a>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
