<div class="p-inputgroup" style="position: relative" #searchContainer>
    <p-autoComplete
      [(ngModel)]="query"
      [suggestions]="suggestions"
      (completeMethod)="onInputChange($event)"
      [minLength]="1"
      placeholder="Search for a gene..."
      (select)="search()"
    ></p-autoComplete>

    <button pButton type="button" (click)="search()">Search</button>

<div
      class="results-popup"
      *ngIf="showPopup"
      style="position: absolute; top: 100%; left: 0; z-index: 1000; background: white; border: 1px solid #ccc; width: 100%; padding: 0.5rem;"
    >
      <div *ngIf="results?.length; else noResults">
        <div *ngFor="let r of results">{{ r[0] }}</div>
      </div>
      <ng-template #noResults>
        <i>No results found</i>
      </ng-template>
    </div>
</div>

<div class="search-styled-div">Content</div>