.group-box {
    font-size: 70%;
    width: 15vw;
    height: calc(100vh - 50px);
    display: block;
    overflow: auto;
    overflow-x: hidden;
}

.group-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group-box .ui-accordion-content {
    padding: 0;
    border: 0;
}

.group-box .ui-accordion-header > a  {
    padding: .2em;
}

.group-box .group-remove-icon {
    color: #E33C3C;
    margin-left: 0.5em;
}

.group-box .group-color-icon {
    border: 1px solid;
    padding: 0.2em;
}
