<p-accordion styleClass="group-box" [multiple]="true">

    <p-accordionTab *ngFor="let cat of categories" [selected]="true"
                    [header]="cat === undefined ? 'Uncategorized'
                                                : cat">
        <p-listbox
            [style]="{width: '100%'}"
            [options]="extractCategoryGroups(cat)"
            [(ngModel)]="selectedGroups"
            optionLabel="name"
            [metaKeySelection]="false"
            [multiple]="true"
            [showToggleAll]="false">
            <ng-template let-group let-i="index" pTemplate="item">
                <span class="group-label">
                    <div>
                        <i class="fa fa-paint-brush group-color-icon"
                           (click)="colorSelector.show($event,
                                                       group.value.color,
                                                       group)"
                           [style.background-color]="group.value.color"></i>
                        {{ group.label }}
                    </div>
                    <div>
                        <b>{{ group.value.accessions.length }}</b>
                        <i class="fa fa-trash group-remove-icon"
                           (click)="removeGroupDialog.show(group.value)">
                        </i>
                    </div>
                </span>
            </ng-template>
        </p-listbox>
    </p-accordionTab>

    <app-remove-group-dialog (deleteGroup)="removeGroup($event)">
    </app-remove-group-dialog>

</p-accordion>

<app-color-selector appFitWindow header="Select group color"
                    (colorChange)="changeGroupColor($event)">
</app-color-selector>
