<div class="modal-mask" (click)="hide()"></div>
<p-panel [header]="header">
    <div class="align-center-column">
        <p-colorPicker [(ngModel)]="color" [inline]="true"></p-colorPicker>
        <app-color-palette [(selectedColor)]="color"></app-color-palette>
        <div class="align-right-item spread-items">
            <div class="selected-color-preview"
                 [style.background-color]="color"
                 [ngClass]="{ 'empty-color': color === undefined }">
            </div>
            <div>
                <button pButton label="Cancel" (click)="cancel()"></button>
                <button pButton label="Confirm" (click)="hide()"></button>
            </div>
        </div>
    </div>
</p-panel>
